{% extends 'main.html' %}
{% load static %}
{% block content%}




{% for offer in offers %}
<div>
    <img class="thumbnail" src="{{offer.image.url}}">
    <div class="box-element product">
        <h6><strong>{{offer.name}}</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Add to cart</button>
        <a href="#" class="btn btn-success">View</a>
        <h4 style="display: inline-block;"><strong>${{offer.price|floatformat:2}}</strong></h4>
    </div>
</div>
{% endfor %}
{% endblock content %}